<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Parameter-pass</title>
</head>

<body>
    <center>
        <h1>Write some text</h1>

        <form action="/analyzed" method="get">
            <textarea name="text" style="width: 1021px; height: 213px;">Lorem ipsum dolor sit amet.</textarea> <br>
            <div>
                Remove Space <input type="checkbox" name="removespace" id="removespace">
            </div>
            <div>
                Convert lower case <input type="checkbox" name="convertlowercase" id="convertlowercase">
            </div>
            <div>
                Convert upper case<input type="checkbox" name="convertuppercase" id="convertuppercase">
            </div>
            <p>Creater {{n}} {{t}}</p>
            <button>Analyse Text</button>
        </form>
    </center>
</body>

</html>